@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --primary-color :#544B3D;    
    --secondary-color:#56A3A6;
    --accent1-color: #CEBACF;
    --accent2-color: #F4EBBE;

    --heading-font: 'Roboto Slab', serif; 
    --paragraph-font: 'Roboto Slab', serif; 

    --nav-background-color:#32021F;   
    --nav-link-color:#CEBACF;   
    --nav-hover-link-color: #544B3D;  
    --nav-hover-background-color: #F4EBBE; 
}

h1, h2, h3 {
    font-family: var(--heading-font);
    
}

.hero h1 {
    color: white;
    position: absolute;
    top: 30px;
    text-align: center;
    background-color: #22211f;
    width: 104.5%;
    opacity: 0.8;
}
.main h1{
    color: var(--nav-background-color);
    text-align: center;
}
h2 {
    color: var(--nav-background-color);
    text-align: center;
}
h3{
    color: var(--nav-background-color);
}

p {
    font-family: var(--paragraph-font);
    color: #544B3D;
}
.hero p {
    color: #000000;
    padding: 20px;
}

a {
    text-decoration: none;
}

body{
    font-family: var(--paragraph-font);
    max-width: 980px;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    height: auto;
}

article {
    position: absolute;
    top: 110px;
    left: 30px;
    background-color: rgb(146, 143, 173);
    opacity: 0.85;
}

article img {
    width: 200px;
    height: auto; 
    float: right;
    padding: 20px;
}

header {
	display: grid;
    margin: 1rem auto;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header div{
    grid-column: 2/3;
    grid-row: 1/2;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto
}

header nav {
    display: flex;
    grid-column: 3/4;
    margin: 1rem;
    justify-content: space-between;
    list-style: none;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

header nav a{
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    border-right: dotted 1px #22211f;
}

header nav a:last-child {
    border-right: none
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content img {
    margin: 1rem;
}

.adventure {
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
}
.adventure img {
    width: 141px;
    height: 100px;
}
figcaption {
    text-align: center;
}

footer {
    margin-top: 20px;
    display: grid;
}

footer p{
    grid-column: 30/40;
}

footer nav{
    grid-column: 50/50;
}

.adress{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.map {
    margin-top: -30px;
}

.employee{
    display: flex;
    justify-content: space-between;
}

.employee img{
    width: 170px;
    height: 150px;
}

form {
    width: 940px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}
label {
    display: block;
    padding: 10px 0;
    font-weight: 600;
}

input[type="text"],
input[type="email"], textarea {
    width: 40%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    margin-left: 20px;
}
input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

button {
    display: block;
    width: 40%;
    padding: 12px;
    box-sizing: border-box;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover { 
    background-color: darkgreen;
}

.main{
    border-bottom: 1px solid #ccc
}

.main .trip_header{
background-color: #22211f;
color: white;
height: 70px;
padding-top: 25px;
opacity: 0.7;
}

.button {
    width: 150px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #22211f;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.button a {
    text-decoration: none;
    color: white;
}
.button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    background-color: darkslategrey;
}

.trip h1{
    position: absolute;
    top: -20px;
    width: 980px;
}
.trip img{
    width: 980px;
    height: 600px;
}
.trip_button{
    position: absolute;
    top: 750px;
    margin-left: 20px;
}
.trip h3 {
    margin-top: 210px;
    color: #22211f;
    position: absolute;
    top: 450px;
}

.trip_main img {
width: 260px;
height: 240px;
}

.table_container {
    width: 50%;
    grid-column: 1/2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

.trip_details{
    display: grid;
}

.image_container {
    grid-column: 2/2;
}
.image_container img{
    width: 490px;
    margin-top: 20px;
    margin-left: 15px;
    height: 378px;
}

.main .home {
    position: relative;
}
.home_header {
    font-weight: 900;
    font-size: 60px;
    position: absolute;
    margin-left: 180px;
    
}

.home h1 {
    color: white;
}

.home_img img{
    width: 980px;
}

.home_news{
    display: grid
    
}
.home_form{
    grid-column: 1/2;
}
.link_trips{
    grid-column: 2/2;
    margin-left: 50px;
}
.home form{
    width: 420px;
}
.trips_image{
    position: relative;
}

.link_trips img{
    
    width: 435px;
    height: 235px;
}
.home h2 {
    font-size: 30px;
    
}

.home_button {
    position: absolute;
    top: 180px;
    left: 10px;
}

.home_images{
    display: grid;
    margin-left: -40px
    
}

.image1 {
    grid-column: 1/2;
    
}

.image2 {
    grid-column: 2/2;
}

.image1 img{
    width: 450px;
    height: 370px;
}

.image2 img {
    width: 450px;
    height: 370px;
}