@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --primary-color :#544B3D;    
    --secondary-color:#56A3A6;
    --accent1-color: #CEBACF;
    --accent2-color: #F4EBBE;

    --heading-font: 'Roboto Slab', serif; 
    --paragraph-font: 'Roboto Slab', serif; 

    --nav-background-color:#32021F;   
    --nav-link-color:#CEBACF;   
    --nav-hover-link-color: #544B3D;  
    --nav-hover-background-color: #F4EBBE; 
}

h1, h2 {
    font-family: var(--heading-font);
    
}

.hero h1 {
    color: white;
    position: absolute;
    top: 30px;
    text-align: center;
    background-color: #22211f;
    width: 104.5%;
    opacity: 0.8;
}

h2 {
    color: var(--nav-background-color);
    text-align: center;
}

p {
    font-family: var(--paragraph-font);
    color: #544B3D;
}
.hero p {
    color: #000000;
    padding: 20px;
}

a {
    text-decoration: none;
}

body{
    font-family: var(--paragraph-font);
    max-width: 980px;
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    height: auto;
}

article {
    position: absolute;
    top: 110px;
    left: 30px;
    background-color: rgb(146, 143, 173);
    opacity: 0.85;
}

article img {
    width: 200px;
    height: auto; 
    float: right;
    padding: 20px;
}

header {
	display: grid;
    margin: 1rem auto;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header div{
    grid-column: 2/3;
    grid-row: 1/2;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto
}

header nav {
    display: flex;
    grid-column: 3/4;
    margin: 1rem;
    justify-content: space-between;
    list-style: none;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}

header nav a{
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    border-right: dotted 1px #22211f;
}

header nav a:last-child {
    border-right: none
}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content img {
    margin: 1rem;
}

.adventure {
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
}
.adventure img {
    width: 141px;
    height: 100px;
}
figcaption {
    text-align: center;
}

footer {
    display: grid;
}

footer p{
    grid-column: 30/40;
}

footer nav{
    grid-column: 50/50;
}
